<div class="navgation__block stricky-header__top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu__block">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="index.php#"> <img src="assets/images/logo.png" alt=""> </a>
                    </div>

                    <!--===Navigation===-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav mobile-menu">
                            <li>
                                <a href="index.php">Home</a>
                            </li>
                            <li>
                                <a href="index.html#!">Azienda</a><span class="submenu-button"></span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="about2.html">About 2</a>
                                    </li>
                                    <li>
                                        <a href="about3.html">About 3</a>
                                    </li>
                                    <li>
                                        <a href="history.html">history</a>
                                    </li>
                                    <li>
                                        <a href="career.html">career</a>
                                    </li>
                                    <li>
                                        <a href="partnerships.html">partnerships</a>
                                    </li>
                                    <li>
                                        <a href="leadership.html">leadership</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="catalogo.php">Catalogo</a>
                            </li>
                            <li>
                                <a href="javascript:avoid(0);">Servizi</a><span class="submenu-button"></span>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="services.html">Services</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">construction Consultant</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">Metal Roofing</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">General Contracting</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">House Renovation</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">Green Building</a>
                                    </li>
                                    <li>
                                        <a href="service-details.html">Laminate Flooring</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="contact.php">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>